<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <select id="selectAdmin" resultType="Admin">
        select admin_id id,username,password from c_admin where username=#{username} and password=#{password}
    </select>
</mapper>
