<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <!--  总行数  -->
    <select id="selectChapterCount" resultType="int">
        select count(*) from c_chapter where album_id=#{id}
    </select>
    <!--    当前页行数-->
    <select id="selectChapterByPage" resultType="com.baizhi.entity.Chapter">
        select chapter_id id,album_id albumId,title,size,downPath,upload_time uploadTime from c_chapter
        where album_id=#{id} limit ${(curPage-1)*pageSize},#{pageSize}
    </select>
    <!--    增-->
    <insert id="insertOneChapter" parameterType="com.baizhi.entity.Chapter">
        insert into c_chapter values(#{id},#{albumId},#{title},#{size},#{downPath},#{uploadTime})
    </insert>
    <!--    删-->
    <delete id="deleteChapterById">
        delete from c_chapter where chapter_id=#{id}
    </delete>
    <!--    改-->
    <update id="updateOneChapter" parameterType="com.baizhi.entity.Chapter">
        update c_chapter set title=#{title},upload_time=#{uploadTime} where chapter_id=#{id}
    </update>
    <!--  修改文件路径  -->
    <update id="updateFilePath" parameterType="com.baizhi.entity.Chapter">
        update c_chapter set downPath=#{downPath},size=#{size} where chapter_id=#{id}
    </update>
</mapper>
