<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">
    <!--  总行数  -->
    <select id="selectGuruCount" resultType="int">
        select count(*) from c_guru
    </select>
    <!--    当前页行数-->
    <select id="selectGuruByPage" resultType="com.baizhi.entity.Guru">
        select guru_id id,name, profile,status, sex from c_guru limit ${(curPage-1)*pageSize},#{pageSize}
    </select>
    <!--    增-->
    <insert id="insertOneGuru" parameterType="com.baizhi.entity.Guru">
        insert into c_guru values(#{id},#{name},#{profile},#{status},#{sex})
    </insert>
    <!--    删-->
    <delete id="deleteGuruById">
        delete from c_guru where guru_id=#{id}
    </delete>
    <!--    改-->
    <update id="updateOneGuru" parameterType="com.baizhi.entity.Guru">
        update c_guru set status=#{status} where user_id=#{id}
    </update>
    <!--  修改文件路径  -->
    <update id="updateFilePath" parameterType="com.baizhi.entity.Guru">
        update c_guru set profile=#{profile}where user_id=#{id}
    </update>
<!--    查所有-->
    <select id="selectAll" resultType="com.baizhi.entity.Guru">
        select guru_id id,name, profile,status, sex from c_guru
    </select>
    <!--    查一个-->
    <select id="selectOne" resultType="com.baizhi.entity.Guru">
        select guru_id id,name, profile,status, sex from c_guru where guru_id=#{id}
    </select>
</mapper>
