<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <!--  总行数  -->
    <select id="selectUserCount" resultType="int">
        select count(*) from c_user
    </select>
    <!--    当前页行数-->
    <select id="selectUserByPage" resultType="com.baizhi.entity.User">
        select user_id id,phone, password,salt,dharmaName,province,city, gender,personal_sign personalSign,
        profile,status,regist_time registTime from c_user limit ${(curPage-1)*pageSize},#{pageSize}
    </select>
    <!--    增-->
    <insert id="insertOneUser" parameterType="com.baizhi.entity.User">
        insert into c_user values(#{id},#{phone},#{password},#{salt},#{dharmaName},#{province},
        #{city},#{gender},#{personalSign},#{profile},#{status},#{registTime})
    </insert>
    <!--    删-->
    <delete id="deleteUserById">
        delete from c_user where user_id=#{id}
    </delete>
    <!--    改-->
    <update id="updateOneUser" parameterType="com.baizhi.entity.User">
        update c_user set status=#{status} where user_id=#{id}
    </update>
    <!--  修改文件路径  -->
    <update id="updateFilePath" parameterType="com.baizhi.entity.User">
        update c_user set profile=#{profile}where user_id=#{id}
    </update>
<!--    查所有-->
    <select id="selectAllUser" resultType="com.baizhi.entity.User">
        select user_id id,phone, password,salt,dharmaName,province,city, gender,personal_sign personalSign,
        profile,status,regist_time registTime from c_user
    </select>
<!--    查一个-->
    <select id="selectOne" resultType="com.baizhi.entity.User">
        select user_id id,phone, password,salt,dharmaName,province,city, gender,personal_sign personalSign,
        profile,status,regist_time registTime from c_user where phone=#{phone}
    </select>
<!--    查某月的注册人数-->
    <select id="selectMouthAndCount" resultType="com.baizhi.entity.MouthAndCount">
        select count(*) count, left(regist_time,7) month from c_user GROUP BY left(regist_time,7)
    </select>
<!--    查不同性别注册人数-->
    <select id="selectProvinceAndCount" resultType="com.baizhi.entity.ProvinceAndCount">
        select count(*) value,province name from c_user where gender=#{gender} GROUP BY  province
    </select>
</mapper>
